In [9]:
# Q1=

import pandas as pd

data = {'numbers': [4,8,15,16,23,42]}
# creating dataframe using dictionary
df = pd.DataFrame(data)

print(type(df['numbers']))
print(df['numbers'])

<class 'pandas.core.series.Series'>
0     4
1     8
2    15
3    16
4    23
5    42
Name: numbers, dtype: int64

In [10]:
# Q2=

import pandas as pd
 
lst = ['dipseh', 'ram', 'shyam', 'hari']
              
# create Pandas Series 
x = pd.Series(lst)
  
# print the Series
print(x)

0    dipseh
1       ram
2     shyam
3      hari
dtype: object

In [20]:
# Q3=

import pandas as pd


data = {'name': ['Alica','bob','claire'],
       'age':[25,30,27],'gender':['female','male','female']}
# creating dataframe using dictionary
df = pd.DataFrame(data)

print(df)

     name  age  gender
0   Alica   25  female
1     bob   30    male
2  claire   27  female

In [23]:
# Q4=

# A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
# difference between panda series and dataframe are:
#     1.panda series are one dimentional array where as panda frame is a two dimentional array
#     2.panda series is of homogenious where as panda frame is of hectrogenious datatypes
#     3.series is immutable where as frame is muitable.
# example
import pandas as pd


data = {'name': ['Alica','bob','claire'],
       'age':[25,30,27],'gender':['female','male','female']}
# creating dataframe using dictionary
df = pd.DataFrame(data)
print(type(df))
print(df)


print(type(df['name']))
print(df['name'])

<class 'pandas.core.frame.DataFrame'>
     name  age  gender
0   Alica   25  female
1     bob   30    male
2  claire   27  female
<class 'pandas.core.series.Series'>
0     Alica
1       bob
2    claire
Name: name, dtype: object

In [27]:
# # Q5=

# some common functions to manuplate data in a pandas dataframe are:
#     1.head()
#     2.tail()
    
# example

import pandas as pd


data = {'name': ['Alica','bob','claire'],
       'age':[25,30,27],'gender':['female','male','female']
       ,'salary':[25000,22000,34000]}
# creating dataframe using dictionary
df = pd.DataFrame(data)

print(df.head(2))
print(df.tail(1))

    name  age  gender  salary
0  Alica   25  female   25000
1    bob   30    male   22000
     name  age  gender  salary
2  claire   27  female   34000

In [28]:
# Q6=

#  a Panel can be illustrated as a container of a DataFrame. In Panel Data and size are mutable.

In [29]:
# Q7=

import pandas as pd
# Create pandas Series
name = pd.Series(["dipesh","ram","hari"])
age = pd.Series([22,23,34])
salary  = pd.Series([10000,23000,100000])

# It also supports to combine multiple series.
df=pd.concat([name,age,salary],axis=1)
print(df)

        0   1       2
0  dipesh  22   10000
1     ram  23   23000
2    hari  34  100000