In [24]:
#Q1 =
mark=int(input("enter marks"))
if mark>90:
    print("A")
elif mark>80 and mark<=90:
    print("B")
elif mark>=60 and mark<=80:
    print("C")
else:
    print("D")

enter marks 70

C

In [28]:
#Q2= 
cost_bike=int(input("enter the cost of bike"))
if cost_bike>100000:
    rate=15/100
elif cost_bike>50000 and cost_bike<=100000:
    rate=10/100
else:
    rate=5/100

tax=cost_bike*rate
print("the tax of bike is " ,tax)

enter the cost of bike 30000

the tax of bike is  1500.0

In [33]:
#Q3= 
val=int(input("enter number to find the monument of :\n1 for Delhi\n2 for Agra\n3 for jaipur"))
if val==1:
    print("Red Fort")
elif val==2:
    print("Maj Mahal")
elif val==3:
    print("Jal Mahal")
else:
    print("error")

enter number to find the momentum of :
1 for Delhi
2 for Agra
3 for jaipur 1

Red Fort

In [38]:
#Q4=
divi=int(input("enter a number"))
num=0
while( divi>=10):
    num=num+1
    divi=divi/3

print(num)

enter a number 300

4

In [1]:
#Q5=
"""A "While" Loop is used to repeat a specific block of code an unknown number of times, until a condition is met.
    For example, if we want to ask a user for a number between 1 and 10, we don't know how many times the user may 
    enter a larger number, so we keep asking "while the number is not between 1 and 10"."""

'A "While" Loop is used to repeat a specific block of code an unknown number of times, until a condition is met.\n    For example, if we want to ask a user for a number between 1 and 10, we don\'t know how many times the user may \n    enter a larger number, so we keep asking "while the number is not between 1 and 10".'

In [17]:
#Q6
#program 1
row1 = 6
for i in range(row1):
    for j in range(i):
        print(i, end=' ')
    print('')
    

#program 2
row2 = 5
# reverse for loop from 5 to 0
for i in range(row2, 0, -1):
    for j in range(1, i + 1):
        print(i, end=' ')
    print('\r')
    
#program 3   
row3 = 5
for i in range(row3, 0, -1):
    for j in range(0, i + 1):
        print(j, end=' ')
    print("\r")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [21]:
#Q7=
i=10
while i>=1:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1