In [1]:
# #Q1=
#     Databases are the collection of data in order to store and retrieve data.
    
    
#     SQL and NoSQL differ in whether they are relational (SQL) or non-relational (NoSQL), whether their schemas are predefined or dynamic, how they scale, the type of data they include and whether they are more fit for multi-row transactions or unstructured data

In [1]:
# #Q2=
#     A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database
    
#     CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers)
#     DROP: This command is used to delete objects from the database.
#     ALTER: This is used to alter the structure of the database.
#     TRUNCATE command is used to delete the complete data from the table.

In [2]:
# #Q3=

#     A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), 
#     delete (delete), and alter (update) data in a database.
    
#     The insert command is used for inserting one or more rows into a database table with specified table column values.
    

#     The UPDATE statement is used to modify the existing records in a table.
    
    
#     The DELETE statement is used to delete existing records in a table.

In [3]:
#Q4=

    # DQL is a portion of a SQL statement that allows you to get and organise data from a database.
    



#     An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE ) that specify criteria.

In [4]:
# #Q5=

#     A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. 
    
#     A foreign key is generally used to build a relationship between the two tables.

In [ ]:
#Q6=

import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)



#     Cursors are often used to highlight text or objects on the screen so that they can be selected

#     The Execute method executes the query, SQL statement or procedure specified in the CommandText property of the Command object.

In [ ]:


# Q7=

# The order in which the clauses in queries are executed is as follows:

# 1. FROM/JOIN

# 2. WHERE

# 3. GROUP BY

# 4. HAVING

# 5. SELECT

# 6. ORDER BY

# 7. LIMIT/OFFSET